@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap");

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 300;
  font-family: "Mukta", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MEDIA QUERIES */

/* MAIN */
body {
  background-color: #a5b4fc;
  color: #f1f1f1;
}

.main-container {
  margin: 0 auto;
  padding: 3rem 3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  max-width: 96rem;
}

.instructions {
  margin-bottom: 1rem;
}

.instructions p {
  font-size: 1.8rem;
}

/* TABLE */

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  color: #818cf8;
  text-align: center;
  padding: 0.8rem;
  letter-spacing: 0.1rem;
}

th:first-of-type {
  border-radius: 0.6rem 0 0 0;
}
th:last-of-type {
  border-radius: 0 0.6rem 0 0;
}

tr:last-of-type td:first-child {
  border-radius: 0 0 0 0.6rem;
}

tr:last-of-type td:last-child {
  border-radius: 0 0 0.6rem 0;
}

table button {
  margin: 1rem;
}

/* FORM */
.form-container {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 40%);
}

form {
  background: #f1f1f1;
  padding: 3rem 2vw;
  border-radius: 1rem;
  color: #374151;
}

.form-heading {
  margin-bottom: 1.8rem;
  text-align: center;
  font-size: 2rem;
  /* color: #818cf8; */
}

.form-row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.form-row:not(:last-child) {
  padding-bottom: 1.8rem;
}

.form-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

input,
select {
  min-width: 250px;
  height: 36px;
  border: none;
  background-color: #eef2ff;
  border: 1px solid #a5b4fc;
  border-radius: 0.8rem;
  padding: 0 0.8vw;
}

label {
  font-size: 1.4rem;
}

.error-message {
  color: salmon;
  font-size: 1.3rem;
  font-weight: bold;
  display: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: salmon;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block;
}

input:not(:focus):not(:placeholder-shown):valid {
  border-color: #a5b4fc;
}

/* BUTTONS */
[id*="-button"] {
  padding: 1rem 3vw;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#form-button {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  background-color: #818cf8;
  color: #f1f1f1;
}

#read-button {
  width: 100%;
  max-width: 15.6rem;
  background-color: #818cf8;
  color: #f1f1f1;
}

#delete-button {
  width: 100%;
  max-width: 15rem;
}

#delete-button i {
  color: #818cf8;
  vertical-align: middle;
}

.ph-trash-bold::before {
  font-size: 1.8rem !important;
}
